/* Only for demo */
body, html {
	padding: 10px;
	margin: 0;
	font-family: 'Ubuntu', 'Segoe UI', sans-serif;
}

/* It is imperitive you put this in your CSS somewhere - it stops things being selected when a handle is being dragged */
html.slyding {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.mrslyde-container {
	width: auto !important;
}

.mrslyde-container .track-wrapper {
	border: 1px solid #333;
	height: 10px;
	margin: 3px 0;
	background: #fff;
	padding-right: 18px;
}

.mrslyde-container .track {
	height: 10px;
	position: relative;
}

.mrslyde-container .range-bar {
	position: absolute;
	border-bottom: 2px solid #333;
	top: 4px;
	bottom: 4px;
	margin-left: 9px;
}

.mrslyde-container .handle {
	width: 16px;
	height: 16px;
	display: block;
	border: 1px solid #333;
	position: absolute;
	background: #fff;
	top: -4px;
	z-index: 1;
}

.mrslyde-container .handle:hover, .mrslyde-container .handle.mousedown {
	border-color: #000;
}
.mrslyde-container .handle.mousedown.touch:before {
	content: "";
	position: absolute;
	left: -25px;
	right: -25px;
	top: -25px;
	bottom: -25px;
	background: #000;
	opacity: 0.3;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.mrslyde-container .values {
	text-align: center;
}

.mrslyde-container .values span {
	width: 33%;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.mrslyde-container .values .left {
	text-align: left;
}

.mrslyde-container .values .center {
	text-align: center;
}

.mrslyde-container .values .right {
	text-align: right;
}