/* Only for demo */
body {
	padding: 100px;
	font-family: 'Ubuntu', 'Segoe UI', sans-serif;
}

/* It is imperitive you put this in your CSS somewhere - it stops things being selected when a handle is being dragged */
html.slyding {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Container has to be inline */
div.mrslyde {
	display: inline-block;
	position: relative;
	zoom: 1;
	*display: inline;
}

/* Track style */
div.mrslyde div.track {
	border: 1px solid #76a7dc;
	height: 10px;
	margin: 3px 0px;
	background: #fff;
}

/* Handle style */
div.mrslyde div.handle {
	border: 1px solid #76a7dc;
	position: absolute;
	height: 16px;
	width: 16px;
	margin-top: -3px;
	background: #fff;
	cursor: pointer;
}

/* Value displays */
div.mrslyde div.values {
	text-align: center;
}

/* Minimum value */
div.mrslyde span.left {
	float: left;
}

/* Maximum value */
div.mrslyde span.right {
	float: right;
}